@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap");
    body {
        font-family: "DM Sans", sans-serif;
        @apply bg-slate-900 px-5;
    }
}
@layer components {
    .page-container {
        max-width: 1280px;
        @apply mx-auto;
    }
    .movie-list .swiper-slide {
        width: 300px;
        height: auto;
    }
    .banner .swiper {
        height: 100%;
    }
}
