@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap");
    body {
        font-family: "DM Sans", sans-serif;
        @apply bg-slate-900;
    }
}
@layer components {
    .page-container {
        max-width: 1280px;
        @apply mx-auto;
    }
    .movie-list .swiper-slide {
        width: 300px;
        height: auto;
    }
    .banner .swiper {
        height: 100%;
    }
}

// pagination

.pagination {
    margin-top: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media (max-width: 640px) {
        flex-wrap: wrap;
    }
    .selected {
        @apply text-primary;
    }
}

.input-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

// Loading Skeleton
.skeleton {
    background-color: #eee;
    background-image: linear-gradient(
        110deg,
        #ececec 8%,
        #f5f5f5 18%,
        #ececec 33%
    );
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}
@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
